
<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/konva@7.0.7/konva.min.js"></script>
    <script src = "/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <meta charset="utf-8" />
    <title>Konva Drag and Drop the Stage Demo</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #container { 
        border: 1em solid slategrey;
        display: inline-block;
      }
    </style>
  </head>
  <body>
  <b>Welcome ROOM : <%= room %></b><p>
    <div>
      <!-- <textarea name="" id="" cols="250" rows="5" readonly></textarea> -->
    </div>
    <div id="container"></div>
    <script type="text/javascript">
      /*
      * 작업 방 내부에서 실시간 작업물의 업데이트 관련한 부분 테스트 코드 작성
      * 현재는 팀 회의에서 문제해결방법을 변경하여, 현재 코드는 쓰이지 않습니다
      * */
      /*
      const socket = io()
      const j = $
      let nickname,room
      socket.emit('joinroom',{room:'<%=room%>'})
      socket.on('name',(res)=>{
        console.log('고유 이름 : '+res.nickname)
        console.log('방 이름 : '+res.room)
        nickname = res.nickname
        room = res.room
      })
      var width = window.innerWidth;
      var height = window.innerHeight;
      let stageMap = new Map()
      let layerMap = new Map()
      let objectMap = new Map()
      var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
        // draggable: true,
      });

      var layer = new Konva.Layer();

      var circle = new Konva.Circle({
        x: stage.width() / 2,
        y: stage.height() / 2,
        radius: 70,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4,
        draggable: true,
        name : 'object'
      });

      // add the shape to the layer
      layer.add(circle);

      var layer2 = new Konva.Layer();

      var rect1 = new Konva.Rect({
        x: 20,
        y: 20,
        width: 100,
        height: 50,
        fill: 'green',
        stroke: 'black',
        strokeWidth: 4,
        draggable: true,
        name : 'object'
      });
      // add the shape to the layer
      var rect2 = new Konva.Rect({
        x: 150,
        y: 40,
        width: 100,
        height: 50,
        fill: 'red',
        shadowBlur: 10,
        cornerRadius: 10,
        draggable: true,
        name : 'object'
      });

      // add the shape to the layer
      layer2.add(rect1);
      layer2.add(rect2);


      // add the layer to the stage
      stage.add(layer);
      stage.add(layer2);

      function updateLocation(e) {
        console.log('Position: x = ' + e.target.x() + '   y = ' + e.target.y());

        socket.emit('sendXY',{data:e,id : e.currentTarget._id})
        // layer.batchDraw();
      }
      socket.on('broad_receiveXY',(res)=>{
        const x = JSON.parse(res.data.target).attrs.x
        const y = JSON.parse(res.data.target).attrs.y
        const id = res.id
        stageMap.get(id).x(x)
        stageMap.get(id).y(y)
        layerMap.get(id).draw()
      })
      stageMap.set(rect1._id,rect1)
      stageMap.set(rect2._id,rect2)
      stageMap.set(circle._id,circle)
      layerMap.set(rect1._id,layer2)
      layerMap.set(rect2._id,layer2)
      layerMap.set(circle._id,layer)
      objectMap.set(rect1._id,"object1")
      objectMap.set(rect2._id,"object2")
      objectMap.set(circle._id,"object3")

      circle.on('dragend', updateLocation)
      rect1.on('dragend', updateLocation)
      rect2.on('dragend', updateLocation)


      var transform = new Konva.Transformer({
        // anchorStroke: 'red',
        anchorFill: 'blue',
        // anchorSize: 20,
        borderStroke: 'blue',
        // borderDash: [3, 3],
      });
      layer.add(transform);

      transform.nodes([]);
      layer.draw();

      // 커서 드래그 영역 표시
      var dragRectangle = new Konva.Rect({
        fill : 'blue',
      });
      layer.add(dragRectangle);

      var x1, y1, x2, y2;
      stage.on('mousedown touchstart', (e) => {
        if(e.target !== stage){
          return;
        }
        x1 = stage.getPointerPosition().x;
        y1 = stage.getPointerPosition().y;
        x2 = stage.getPointerPosition().x;
        y2 = stage.getPointerPosition().y;

        dragRectangle.visible(true);
        dragRectangle.width(0);
        dragRectangle.height(0);

        layer.draw();
      });

      stage.on('mousemove touchmove', () => {
        if(!dragRectangle.visible()){
          return;
        }

        x2 = stage.getPointerPosition().x;
        y2 = stage.getPointerPosition().y;

        dragRectangle.setAttrs({
          x: Math.min(x1, x2),
          y: Math.min(y1, y2),
          width: Math.abs(x2 - x1),
          height: Math.abs(y2 - y1),
        });

        layer.batchDraw();

      });
      // temp **
      // stage.on('dragstart', (e) => {
      //   if(e.target.hasName('object')){
      //     // add
      //     console.log('object');
      //     transform.nodes([e.target]);
      //   }
      // });
      stage.on('mouseup touched', () => {
        if(!dragRectangle.visible()){
          return;
        }
        setTimeout(() => {
          dragRectangle.visible(false);
          layer.batchDraw();
        });

        var shapes = stage.find('.object').toArray();
        var box = dragRectangle.getClientRect();
        var selected = shapes.filter((shape) =>
          Konva.Util.haveIntersection(box, shape.getClientRect())
        );
        transform.nodes(selected);
        layer.batchDraw();
      });

      stage.on('click tap', function (e) {

        socket.emit('acquireTest',{room :room,object:objectMap.get(e.target._id),x:e.target.x(),y:e.target.y(),nickname:nickname,number:0})

        socket.on('receiveAcquireTest',(res)=>{
            const permission = res.permit
            console.log('해당 object 권한 획득 여부 : ',permission)
        })
        if(dragRectangle.visible()){
          return;
        }

        // 빈 공간 클릭시 선택되어있는것 제거
        if(e.target === stage){
          transform.nodes([]);
          layer.draw();
          return;
        }
        // name이 'object'로 지정된 것만 선택 가능
        if(!e.target.hasName('object')){
          return;
        }

        // shift, ctrl 키 적용
        const metaPressed = e.evt.shiftKey || e.evt.ctrlKey || e.evt.metaKey;
        const isSelected = transform.nodes().indexOf(e.target) >= 0;

        if (!metaPressed && !isSelected) {
          // 아무 키를 누르지 않고 물체가 선택되어있지 않을때 -> 선택 처리
          transform.nodes([e.target]);
        } else if(!metaPressed && isSelected){
          transform.nodes([]);
          transform.nodes([e.target]);
        } else if (metaPressed && isSelected) {
          // 키가 눌려있고 물체가 이미 선택되어있을 때 -> 선택 제외
          const nodes = transform.nodes().slice();  // 선택 배열 복사
          // 배열로부터 제거
          nodes.splice(nodes.indexOf(e.target), 1);
          transform.nodes(nodes);
        } else if (metaPressed && !isSelected) {
          // 선택범위에 물체도 추가
          const nodes = transform.nodes().concat([e.target]);
          transform.nodes(nodes);
        }
        layer.draw();
      });

      stageMap.set(transform._id,transform)
      stageMap.set(dragRectangle._id,dragRectangle)
      layerMap.set(transform._id,layer)
      layerMap.set(dragRectangle._id,layer)
      objectMap.set(transform._id,"object4")
      objectMap.set(dragRectangle._id,"object5")
      */
    </script>
  </body>
</html>